<header>
  <div class="header-content">
    <div class="app-title"><a href="/memos/">メモアプリ</a></div>
    <% if @require_new_link %>
    <a href="/memos/new" class="add-btn">追加</a>
    <% end%>
  </div>
</header>
