<script>
  function showMemo(memoId) {
    location.href = "/memos/" + memoId;
  }
</script>

<% unless @memos.empty? %>
<ul>
  <% @memos.each do |memo| %>
    <%= erb :_list_item, :locals => { :memo => memo } %>
  <% end %>
</ul>
<% else %>
  <div>メモがありません</div>
<% end %>
