<!DOCTYPE html>
<html>
    <head>
       <title>memo app</title>
       <link href="/css/app.css" rel="stylesheet">
   </head>
    <body>
        <%= erb :header %>
        <main>
          <%= yield %>
        </main>
        <%= erb :footer %>
    </body>
</html>
