  <form method="post" action="/memos">
    <div class="memo-textarea-container">
      <textarea name="content"></textarea>
    </div>

    <div class="action-container">
     <input type="submit" value="create" class="create-btn">
    </div>
  </form>
