<div class="memo-display-container">
  <%= @memo.content %>
</div>

<div class="action-container">
  <a href='<%= "/memos/#{@memo.memo_id}/edit" %>' class="edit-btn">update</a>
  <form method="post" action='/memos/<%= "#{@memo.memo_id}" %>'>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete" class="delete-btn">
  </form>
</div>
